.hero {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 8rem;
  background-color: #deebff;
  justify-content: space-between;
  align-items: center;
}
.left {
  flex-basis: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right {
  flex-basis: 35rem;
}
.left h1 {
  max-width: 30rem;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 900;
  color: #212529;
}
.left p {
  max-width: 60rem;
}
.hero .right img {
  display: block;
  width: 40rem;
  height: auto;
}

.buttons {
  display: flex;
  gap: 1rem;
}
.buttons button {
  padding: 1.2rem 3.5rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 10px;
}
.main-btn {
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-color);
}
.sec-btn {
  background-color: var(--secondary-btn-bg);

  color: var(--primary-btn-color);
}
@media (max-width: 1100px) {
  .hero {
    flex-wrap: wrap;
  }
}
@media (max-width: 800px) {
  .hero {
    padding: 2rem 1rem;
  }
  .hero .right img {
    width: 25rem;
  }
}
