.hero {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 8rem;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: auto;
}
.container {
  background-color: #deebff;
}

.left {
  flex-basis: 35rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right {
  flex-basis: 35rem;
}
.left h1 {
  max-width: 30rem;
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 900;
  color: #212529;
}
.left p {
  max-width: 65rem;
}
.hero .right img {
  display: block;
  width: 40rem;
  height: auto;
}

.buttons {
  display: flex;
  gap: 1rem;
}
.buttons button {
  padding: 1.2rem 3.5rem;
  border: none;
  font-size: 1.1rem;
  border-radius: 7px;
  cursor: pointer;
}

.main-btn {
  background-color: var(--primary-btn-bg);
  color: var(--primary-btn-color);
}
.buttons .main-btn:hover {
  background-color: var(--primary-btn-hover-bg);
}
.sec-btn {
  background-color: var(--secondary-btn-bg);
  color: var(--primary-btn-color);
}

.buttons .sec-btn:hover {
  background-color: var(--secondary-btn-hover-bg);
}
@media (max-width: 1000px) {
  .hero {
    padding: 2.5rem 1rem;
    flex-wrap: wrap-reverse;
  }
  .left,
  .right {
    flex-basis: 100%;
    align-items: center;
  }
  .left h1,
  .left p {
    max-width: 100%;
    text-align: center;
  }
  .hero .right img {
    display: block;
    margin: auto;
    width: 25rem;
  }
}
@media (max-width: 1200px) {
  .hero .right img {
    width: 30rem;
  }
}
